p.admonition-title {
  font-weight: bold !important;
  font-size: 1em !important;
}

a {
  color: inherit;
}

a:hover {
  color: #b80b30;
  /*border-bottom-color: #b80b30;*/
  border-bottom-style: dotted;
}

code {
  color: inherit;
}
