body {
  font-family: "Gil Sans Light", "Aria", sans-serif;
}

p.admonition-title {
  font-weight: bold !important;
  font-size: 1em !important;
}

a {
  color: inherit;
}

a:hover {
  color: #b80b30;
  /*border-bottom-color: #b80b30;*/
  border-bottom-style: dotted;
}

code {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: "Palatino", "Times New Roman", serif;
}